html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    position: relative;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background: linear-gradient(135deg, #4CAF50, #2E7D32);
    color: #163c21;
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #163c21; /* Changed link color to match header text */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.4s ease, color 0.4s ease; /* Smooth transition for background and text color */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFFFFF; /* Change text color on hover for better contrast */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

section {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}



li:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media (max-width: 600px) {
    section {
        width: 95%;
    }
}
